@inject IGitHubService GitHubService
@rendermode InteractiveServer

<div class="commit">
    <div class="commit-item">@Repo</div> 
    <a class="commit-item"href="@Url" target="_blank">@Tag</a>
    <button class="btn btn-primary commit-item" @onclick="NotifyDeployClicked" disabled="@(!IsActiveCommit)">Deploy</button>
    <button class="btn btn-primary commit-item" @onclick="NotifyRollbackClicked" disabled="@IsActiveCommit">Rollback</button>
</div>
@code {
    [Parameter]
    public string Repo { get; set; } = String.Empty;
    [Parameter]
    public string Tag { get; set; } = String.Empty;
    [Parameter]
    public string Url { get; set; } = String.Empty;

    [Parameter]
    public bool IsActiveCommit { get; set; } = true;

    [Parameter]
    public EventCallback OnDeployClick { get; set; }
    [Parameter]
    public EventCallback OnRollbackClick { get; set; }

    protected async Task NotifyDeployClicked()
    {
        await OnDeployClick.InvokeAsync(null);
    }
    protected async Task NotifyRollbackClicked()
    {
        await OnRollbackClick.InvokeAsync(null);
    }
}
